/**
 * Site header
 */
.site-header {
  border-top: 5px solid $brand-color;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}


// Navigation

.navbar-default {
    background-color: white;
    border-color: rgba($grey-color-dark, .5);
    @include transition-all;
    .navbar-header .navbar-brand {
        color: $brand-color;
        @include relative-font-size(1.2);
        font-weight: 700;
        text-transform: uppercase;
        &:hover,
        &:focus {
            color: darken($brand-color, 10%);
        }
    }
    .nav {
        > li {
            > a,
            > a:focus {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                color: $grey-color-dark;
                &:hover {
                    color: $brand-color;
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: $brand-color !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        background-color: transparent;
        border-color: rgba($grey-color, .3);
        .navbar-header .navbar-brand {
            color: rgba($grey-color, .7);
            &:hover,
            &:focus {
                color: $grey-color;
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: rgba($grey-color, .7);
            &:hover {
                color: $grey-color;
            }
        }
        &.affix {
            background-color: white;
            border-color: rgba($grey-color-dark, .5);
            .navbar-header .navbar-brand {
                color: $brand-color;
                font-size: 14px;
                &:hover,
                &:focus {
                    color: darken($brand-color, 10%);
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: $grey-color-dark;
                &:hover {
                    color: $brand-color;
                }
            }
        }
    }
}

// Button Styles
.btn-default {
    @include button-variant($grey-color-dark, #f0f0f0, white);
}

.btn-primary {
    @include button-variant(white, $brand-color, $brand-color);
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  padding-right: 20px;
  padding-left: 20px;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
  color: $grey-color-dark;
}



/**
 * Posts
 */
.blog-post {
  background: #fff;
  webkit-box-shadow: 0px 0px 7px 0px rgba(194,194,194,1);
  moz-box-shadow: 0px 0px 7px 0px rgba(194,194,194,1);
  box-shadow: 0px 0px 7px 0px rgba(194,194,194,1);

}

.post-header {
  margin-bottom: $spacing-unit;

}

.post-title {
  @include relative-font-size(2.0);
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -.015em;

  @include media-query($on-laptop) {
    @include relative-font-size(1.75);
  }
}


.post-content {
  margin-bottom: $spacing-unit;

  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }

  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.partner-logos img {
  max-height: 3rem;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all 0.15s ease-in-out 0s;
  -ms-transition: all 0.15s ease-in-out 0s;
  -moz-transition: all 0.15s ease-in-out 0s;
  -webkit-transition: all 0.15s ease-in-out 0s;
}
.partner-logos img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
  transition: all 0.15s ease-in-out 0s;
  -ms-transition: all 0.15s ease-in-out 0s;
  -moz-transition: all 0.15s ease-in-out 0s;
  -webkit-transition: all 0.15s ease-in-out 0s;
}

.people  {
  max-height: 94px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 1;
  transition: all 0.15s ease-in-out 0s;
  -ms-transition: all 0.15s ease-in-out 0s;
  -moz-transition: all 0.15s ease-in-out 0s;
  -webkit-transition: all 0.15s ease-in-out 0s;
}
.people:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
  transition: all 0.15s ease-in-out 0s;
  -ms-transition: all 0.15s ease-in-out 0s;
  -moz-transition: all 0.15s ease-in-out 0s;
  -webkit-transition: all 0.15s ease-in-out 0s;
}

.people_banner {
  margin: auto;
  padding: 10px;
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%; /* The height of the item will now be 56% of the width. */
}

/* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
