<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="people_banner" >
      <img class="people" src="/assets/people/nick.png"
      alt="foto Nick van de Giesen" title="Nick van de Giesen"  title="Nick van de Giesen"  height="150" align="left"/>
      <img class="people" src="/assets/people/rolf.jpeg"
      alt="foto Rolf Hut" title="Rolf Hut"  height="150" align="left" />
      <img class="people" src="/assets/people/niels.jpeg"
      alt="foto Niels Drost" title="Niels Drost"  height="150" align="left" />
      <img class="people" src="/assets/people/ben.jpeg"
      alt="foto Ben van Werkhoven" title="Ben van Werkhoven"  height="150" align="left" />
      <img class="people" src="/assets/people/jerom.jpeg"
      alt="foto Jerom Aerts" title="Jerom Aerts"  height="150" align="left" />
      <img class="people" src="/assets/people/stefan.jpeg"
      alt="foto Stefan Verhoeven" title="Stefan Verhoeven"  height="150" align="left" />
      <img class="people" src="/assets/people/stef.jpeg"
      alt="foto Stef Smeets" title="Stef Smeets"  height="150" align="left" />
      <img class="people" src="/assets/people/sarah.jpeg"
      alt="foto Sarah Alidoost" title="Sarah Alidoost"  height="150" align="left" />
      <img class="people" src="/assets/people/bouwe.jpeg"
      alt="foto Bouwe Andela.jpg" title="Bouwe Andela"  height="150" align="left" />
      <img class="people" src="/assets/people/peter.jpeg"
      alt="foto Peter Kalverla" title="Peter Kalverla"  height="150" align="left" />
      <img class="people" src="/assets/people/jaro.jpeg"
      alt="foto Jaro Camphuijsen" title="Jaro Camphuijsen"  height="150" align="left" />
      <img class="people" src="/assets/people/barbara.png"
      alt="foto Barbara Vreede" title="Barbara Vreede"  height="150" align="left" />
      <br /><br /><br />
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>
</html>
