<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}  

  <body>

    {% include header.html %}
    
    <div class="people_banner" >
      <img class="people" src="https://d1rkab7tlqy5f1.cloudfront.net/_processed_/a/f/csm_Giesen-2_d93ca13cab.png" 
      alt="foto Nick van de Giesen" title="Nick van de Giesen"  title="Nick van de Giesen"  height="150" align="left"/>
      <img class="people" src="https://d1rkab7tlqy5f1.cloudfront.net/_processed_/b/e/csm_Rolf%20Hut_7c1e740af1.jpg" 
      alt="foto Rolf Hut" title="Rolf Hut"  height="150" align="left" />
      <img class="people" src="https://www.esciencecenter.nl/img/team/nielsdrost-new.jpg" 
      alt="foto Niels Drost" title="Niels Drost"  height="150" align="left" />
      <img class="people" src="https://www.esciencecenter.nl/img/team/Ben-van-Werkhoven_%28002%29.jpg" 
      alt="foto Ben van Werkhoven" title="Ben van Werkhoven"  height="150" align="left" />
      <img class="people" src="https://media.licdn.com/dms/image/C4E03AQFewuaJIczl9A/profile-displayphoto-shrink_800_800/0?e=1545264000&v=beta&t=zAGaKUWGga0GvYUXcU39x_cAWf_GSXbCBErvyMJA4t0" 
      alt="foto Jerom Aerts" title="Jerom Aerts"  height="150" align="left" />
      <img class="people" src="https://www.esciencecenter.nl/img/team/Berend_web.jpg" 
      alt="foto Berend Weel" title="Berend Weel"  height="150" align="left" />
      <img class="people" src="https://www.esciencecenter.nl/img/team/Inty-web_%28002%29.jpg" 
      alt="foto Inti Pelupessy" title="Inti Pelupessy"  height="150" align="left" />
      <img class="people" src="https://www.esciencecenter.nl/img/team/Martine_%28002%29.jpg"
      alt="foto Martine de Vos" title="Martine de Vos"  height="150" align="left" />
      <img class="people" src="https://www.esciencecenter.nl/img/team/Yivat-Dzigan_%28002%29.jpg"
      alt="foto Yifat Dzigan" title="Yifat Dzigan"  height="150" align="left" />
      <img class="people" src="https://www.esciencecenter.nl/img/team/stefan-verhoeven-new.jpg"
      alt="foto Stefan Verhoeven" title="Stefan Verhoeven"  height="150" align="left" />
      <img class="people" src="https://www.esciencecenter.nl/img/team/Gijsvandenoord-web.png"
      alt="foto Gijs van den Oord" title="Gijs van den Oord"  height="150" align="left" />
      <img class="people" src="https://www.esciencecenter.nl/img/team/Ronald-van-Haren-new.jpg"
      alt="foto Ronald van Haren" title="Ronald van Haren"  height="150" align="left" />
      <img class="people" src="https://www.esciencecenter.nl/img/team/Janneke-van-der-Zwaan-new.jpg"
      alt="foto Janneke van der Zwaan" title="Janneke van der Zwaan"  height="150" align="left" />
      <img class="people" src="https://www.esciencecenter.nl/img/team/maarten-van-meersbergen-new.jpg"
      alt="foto Maarten van Meersbergen" title="Maarten van Meersbergen"  height="150" />
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>
</html>
